<h3>Welcome back! Login here</h3>
<p><%= @error %></p>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
<br>
<br>
<p>If you don't have an account with us, <button><a href="/signup">sign up here!</a></button>