<h2>Error!</h2>
<p>Looks like something went wrong with your login or sign up. Please try again, making sure to completely fill out all forms.</p><br><br>
<a href="/login">Log In!</a> <br><a href="/signup">Sign Up!</a>
