<div class="container">
<h1>Matt's Music Practice Tracker</h1>

<div class="content">
<p>Welcome to Matt's Music Practice Tracker. Use this app as a tool to record, review, and structure your time spent practicing various musical instruments. </p>

<p><a href="/signup">Sign up here if you don't have an account with us!</a></p><br>
<p><a href="/login">Login here!</a></p>
</div>



</div>
