<form action="/instruments/<%= @instrument.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <h3>Edit Your Instrument</h3><br>
    <input type="text" name="name" value="<%= @instrument.name %>"><br><br>
    <input type="text" name="practice_time" value="<%= @instrument.practice_time %>"><br><br>
    <input type="submit" value="Submit">

</form>
