<h1>Add a New Instrument to Your Repertoire! </h1>


<form method="POST" action ="/instruments">
    <input type="text" name="name" placeholder="Instrument:"><br>
    <input type="text" name="practice_time" placeholder="Time Spent Practicing:"><br><br>
    <input type="submit">
</form>