<h1>How much time you have spent practicing this instrument.</h1><br>

<h3><%= @instrument.name %></h3><br>
<p><%= @instrument.practice_time %></p><br>
<button><a href="/instruments/<%= @instrument.id %>/edit">Edit</a></button>
